.input-container {
  position: relative;

  .input-component {
    font-size: $text-smallest;
    padding-left: $base-spacing-quad;
    background-color: $color-white;
    color: $color-black;
    border: 1px solid $color-light-grey;
    border-radius: $border-radius-small;
    // margin is set to counteract the different border widths (same applies to all the margin: 0)
    margin: 1px;

    &.invalid {
      border: 2px solid $color-red;
      margin: 0px;

      :focus {
        border: 2px solid $color-blue;
        outline: none;
        margin: 0px;
      }
    }

    &.valid {
      border: 2px solid $color-green;
      margin: 0px;
    }

    &.disabled {
      opacity: 0.5;

      &::placeholder {
        opacity: 0.3;
      }

      &:hover::placeholder {
        opacity: 0.3;
      }
    }

    &:focus {
      border: 2px solid $color-blue;
      outline: none;
      margin: 0px;

      &.valid {
        border: 2px solid $color-green;
        margin: 0px;
      }
    }

    &.round {
      border-radius: 36px;
    }
  }

  input {
    width: 245px;
    padding-top: $base-spacing-triple;
    padding-bottom: $base-spacing-triple;
    padding-left: $base-spacing-quad;

    &::placeholder {
      color: $color-grey;
      opacity: 0.6;
    }

    &:hover::placeholder {
      opacity: 0.8;
    }
  }


  textarea {
    padding-top: 10px;
    height: 120px;
    width: 262px;

    &::placeholder {
      color: $color-grey;
      opacity: 0.6;
    }

    &:hover::placeholder {
      opacity: 0.8;
    }

    &.fixedSize {
      resize: none;
    }
  }
}
