.button-component {
  color: $color-white;
  background-color: $color-blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: $font-weight-semibold;
  border: 1px solid $color-blue;
  opacity: 0.9;
  font-size: 14px;
  height: 32px;
  padding-left: 24px;
  padding-right: 24px;

  &.medium {
    height: 40px;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &.red {
    background-color: $color-red;
    border: 1px solid $color-red;

    &.disabled {
      opacity: 0.5;
    }

    &:hover {
      background-color: $color-red-hover;
      border: 1px solid $color-red-hover;
    }

    &:focus {
      background-color: $color-red-active;
      border: 1px solid $color-red-active;
    }

    &.active {
      // This will be the same as the class for focus, might be used for something else though.
      background-color: $color-red-active;
      border: 1px solid $color-red-active;
    }
  }

  &.white {
    background-color: $color-white;
    border: 1px solid $color-light-grey;

    &.disabled {
      opacity: 0.5;
    }

    &:hover {
      background-color: $color-white-hover;
      border: 1px solid $color-light-grey;
    }

    &:focus {
      background-color: $color-white-active;
      border: 1px solid $color-light-grey;
    }

    &.active {
      // This will be the same as the class for focus, might be used for something else though.
      background-color: $color-white-active;
      border: 1px solid $color-light-grey;
    }
  }

  &.grey {
    background-color: $color-lightest-grey;
    border: 1px solid $color-light-grey;

    &.disabled {
      opacity: 0.5;
    }

    &:hover {
      background-color: $color-grey-hover;
      border: 1px solid $color-light-grey;
    }

    &:focus {
      background-color: $color-grey-active;
      border: 1px solid $color-light-grey;
    }
  }

  &.minimal {
    background-color: $color-blue;
    opacity: 0.1;

    &.disabled {
      opacity: 0.5;
    }

    &:hover {

    }

    &:focus {

    }

    &.active {
      // This will be the same as the class for focus, might be used for something else though.
    }
  }

  &:focus {
    outline: none;
  }

  &:hover {
    border: 1px solid $color-white;
    opacity: 1;
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.4;

    &:hover {
      cursor: not-allowed;
      border: 1px solid $color-blue;
    }
  }
}
