.icon-wrapper-class {
  border: 1px solid $color-blue;
  background-color: $color-blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: $base-spacing-double;
  height: 32px;
  width: 32px;

  &:hover {
    background-color: $color-blue-hover;
    border: 1px solid $color-blue-hover;
  }

  &.active {
    background-color: $color-blue-active;
    border: 1px solid $color-blue-active;
  }

  &.round {
    border-radius: $border-radius-circle;
  }

  &.white {
    background-color: $color-white;
    border: 1px solid $color-light-grey;

    &:hover {
      background-color: $color-white-hover;
    }

    &.active {
      background-color: $color-white-active;
    }
  }

  &.grey {
    background-color: $color-lightest-grey;
    border: 1px solid $color-light-grey;

    &:hover {
      background-color: $color-grey-hover;
    }

    &.active {
      background-color: $color-grey-active;
    }
  }

  &.small {
    height: 24px;
    width: 24px;
    padding: 4px;
  }

  &.large {
    height: 48px;
    width: 48px;
    padding: 16px;
  }
}
