/* TODO: Add a reset.css module to normalize elements across browsers */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $color-white;
}

html {
  font-size: 100%;
  /* TODO: get proxima nova from adobe typekit */
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $color-white;
}

body {
  font-size: 14px;

  h1 {
    font-size: 48px;
    font-weight: $font-weight-semibold;
  }

  h2 {
    font-size: 28px;
    font-weight: $font-weight-semibold;
  }

  h3 {
    font-size: 20px;
    font-weight: $font-weight-semibold;
  }

  h4 {
    font-size: 16px;
    font-weight: $font-weight-semibold;
  }

  h5 {
    font-size: 14px;
    font-weight: $font-weight-semibold;
  }
}
