/* TODO: Add a reset.css module to normalize elements across browsers */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $color-black;
}

html {
  font-size: 100%;
  /* TODO: get proxima nova from adobe typekit */
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $color-white;
}

body {
  font-size: 0.75rem;
}
