body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 100%;
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $white;
}

body {
  font-size: 0.75rem;
}
