/**
  * This is where we'll declare all of our color variables
  * I think it's a good idea if we don't just copy direct from Outro,
  * but rather we start clean with the freshest in mocks of new projects
  * so we don't end up with like 50 variations of each color when some
  * might only be used once.
*/
$blue: #1983FF;
$black: black;
$green: green;
$white: #FFFFF;
$orange: orange;
$red: red;

$font-weight-semibold: 600;
$font-weight-bold: 700;
