.audio-player-wrapper {
  max-width: 600px;
  padding: $base-spacing-quin;

  .waveform, .waveform svg {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .waveform, .waveform svg * {
    fill: $color-green;
  }
}
