.avatar-wrapper {
  display: inline-block;
  border-radius: $border-radius-small;

  &.circle {
    border-radius: $border-radius-circle;
  }
}

.avatar {
  border-radius: $border-radius-small;

  &.circle {
    border-radius: $border-radius-circle;
  }
}
