.breadcrumbs {
  display: flex;
  align-items: center;
  color: $color-grey;
  font-weight: $font-weight-semibold;

  .bullets {
    @extend .\+push-right;
    @extend .\+grey-text;
    font-size: $text-medium;
  }

  .breadcrumb {
    @extend .\+push-half-right;

    .label {
      cursor: pointer;

      &.is-active {
        @extend .\+blue-text;
      }

      &:hover {
        @extend .\+grey-text;
      }
    }

    .separator {
      cursor: default;
      @extend .\+push-half-left;
    }
  }
}
