.pill {
  height: 32px;
  border-radius: $border-radius-large;
  padding: 0px 16px;
  font-size: 14px;
  font-weight: $font-weight-semibold;
  color: $color-white;

  &.removeable {
    position: relative;

    &:hover {
      padding: 0px 8px;
      &::after {
        content: 'X';
        position: absolute;
        right: 8px;
      }
    }
  }

  &.red {
    background-color: $color-red;

    &:hover {
      background-color: $color-red-hover;
    }

    &.active {
      background-color: $color-red-active;
    }
  }

  &.blue {
    background-color: $color-blue;

    &:hover {
      background-color: $color-blue-hover;
    }

    &.active {
      background-color: $color-blue-active;
    }
  }
}
