.pill {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: $border-radius-large;
  font-size: $text-smallest;
  padding: $base-spacing-double 0px;

  .pill-title {
    color: $color-white;
    margin: 0px $base-spacing-quad;
  }

  &.removeable {
    position: relative;

    &:hover {
      cursor: pointer;
      color: $color-white;

      .pill-title {
        margin-left: $base-spacing-double;
        margin-right: $base-spacing-sex;
      }

      &::after {
        content: 'X';
        position: absolute;
        right: 10px;
      }
    }
  }

  &.red {
    background-color: $color-red;

    &:hover {
      background-color: $color-red-hover;
    }

    &.active {
      background-color: $color-red-active;
    }
  }

  &.blue {
    background-color: $color-blue;

    &:hover {
      background-color: $color-blue-hover;
    }

    &.active {
      background-color: $color-blue-active;
    }
  }
}

.user-pill {
  position: relative;

  .user-pill-avatar {
    position: absolute;
    top: 0;
    left: -1px;
    padding: 0px;
    margin: 0px;
  }

  .pill-title {
    margin-left: 42px;
  }

  &.removeable {

    &:hover {
      .pill-title {
        margin-left: 37px;
        margin-right: 21px;
      }
    }
  }
}
