.progress-tabs-wrapper {
  display: flex;

  .tab {
    padding: $base-spacing-quad $base-spacing-quin;
    border-bottom: 2px solid $color-light-grey;
    font-size: $text-large;
    color: $color-mid-grey;
    opacity: 0.4;
    font-weight: $font-weight-bold;
    letter-spacing: 0.6px;
    line-height: $base-spacing-quin;

    &:hover {
      opacity: 0.5;
      border-bottom: 2px solid $color-mid-grey;
    }

    &.clickable {
      cursor: pointer;
    }

    &.active {
      color: $color-blue;
      opacity: 1;
      border-bottom: 2px solid $color-blue;
    }
  }
}
