.spinner {
  min-width: 50px;
  height: 20px;
  text-align: center;
  font-size: 10px;

  & > div {
    background-color: $color-white;
    height: 100%;
    width: 3px;
    margin-right: 1px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  &.blue > div {
    background-color: $darkestblue;
  }

  &.black > div {
    background-color: $color-black;
  }

  &.large {
    height: 100px;
    width: 250px;

    & > div {
      width: 10px;
    }
  }

  &.mobile-large {
    height: 16vh;
    width: 16vh;

    & > div {
      width: 2vh;
      margin-right: 0.5vh;
    }
  }
}
